/prometheus
/thanos
/vendor/
/mixin/vendor/
node_modules/

# Ignore minikube setup working dirs.
kube/bin
kube/.kube
kube/.minikube

# Ignore e2e working dirs.
data/
test/e2e/e2e_integration_test*

# Ignore promu artifacts.
/.release
/.tarballs

/.idea
/*.iml

website/public/
website/docs-pre-processed/
!website/data

tmp/
