.envrc

/prometheus
/thanos
/vendor/
/mixin/vendor/

# Ignore minikube setup working dirs.
kube/bin
kube/.kube
kube/.minikube

# Ignore mdox cache file
.mdoxcache

# Ignore e2e working dirs.
data/
test/e2e/e2e_*

# Ignore promu artifacts.
/.build
/.release
/.tarballs

/.idea
/*.iml

website/public/
website/docs-pre-processed/
!website/data

# React build assets
pkg/ui/static/react

tmp/bin
examples/tmp/

# Ignore the MacOS Trash (DS-Store)
.DS_Store

# Ignore generated Cortex files
internal/cortex/querier/active-query-tracker
