{{ define "main" }}
<div class="container">
    <div class="row py-5">
        <div class="col col-12">
            {{ range .Paginator.Pages }}
            <div class="mb-5 container">
                <h2><a href="{{ .Permalink }}">Support and Training</a></h2>
                <p class="text-muted" style="margin-bottom: 5rem">
                    Firms that offer consultancy and enterprise support.
                </p>
                <section class="mt-5">
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="m-1 mt-4 mx-5">
                            <a href="https://www.cloudraft.io">
                                <img src="{{ " /cloudraft.png " | relURL }}" alt="cloudraft" loading="lazy" title="cloudraft">
                            </a>
                        </div>
                        <div class="m-1 mt-4">
                            <a href="https://www.infracloud.io/thanos-support/">
                                <img src="{{ " /infracloud.svg " | relURL }}" alt="infracloud" loading="lazy" title="infracloud">
                            </a>
                        </div>
                        <div class="m-1">
                            <a href="https://o11y.eu">
                                <img src="{{ " /o11y.svg " | relURL }}" alt="o11y" loading="lazy" title="o11y">
                            </a>
                        </div>
                        <div class="m-1 mx-3 mt-4">
                            <a href="https://platformengineers.io">
                                <img src="{{ " /platformengineers.png " | relURL }}" class="img-fluid" title="platformengineers" loading="lazy" title="platformengineers">
                            </a>
                        </div>
                        <div class="m-1 mt-4">
                            <a href="https://tasrieit.com">
                                <img src="{{ " /tasrie-it-services.png " | relURL }}" alt="tasrie-it-services" loading="lazy" title="tasrie-it-services">
                            </a>
                        </div>
                        <div class="m-1 mt-4">
                            <a href="https://www.ksolves.com/support-services/thanos-support">
                                <img src="{{ " /ksolvesLogo.svg " | relURL }}" alt="ksolves" loading="lazy" title="ksolves">
                            </a>
                        </div>
                    </div>
                </section>
                <hr /> {{ .Summary }}
            </div>
            <div class="d-flex align-items-center justify-content-center mb-5">
                <a href="https://github.com/thanos-io/thanos" target="_blank" class="btn btn-primary btn-lg">Add your company</a
        >
      </div>
      {{ end}} {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</div>
{{ end }}
