<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Thanos long term storage Prometheus solution</title>
    <link rel="shortcut icon" href="{{ pathPrefix }}/static/img/favicon.ico?v={{ buildVersion }}">
    <script src="{{ pathPrefix }}/static/vendor/js/jquery.min.js?v={{ buildVersion }}"></script>
    <script src="{{ pathPrefix }}/static/vendor/bootstrap-3.3.1/js/bootstrap.min.js?v={{ buildVersion }}"></script>

    <link type="text/css" rel="stylesheet" href="{{ pathPrefix }}/static/vendor/bootstrap-3.3.1/css/bootstrap.min.css?v={{ buildVersion }}">
    <link type="text/css" rel="stylesheet" href="{{ pathPrefix }}/static/css/prometheus.css?v={{ buildVersion }}">

    <script>
      var PATH_PREFIX = "{{ pathPrefix }}";
      var BUILD_VERSION = "{{ buildVersion }}";
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

    {{template "head" .}}
  </head>

  <body>
    {{template "nav" .}}

    {{template "content" .}}
  </body>
</html>
