{{ $currentPage := . }}
{{- $currentVersion := index (split .File.Path "/") 1 }}
{{ $versionDocsPath := printf "versioned/%s" $currentVersion }}
{{ $url := .RelPermalink }}

<button class="btn btn-block btn-outline-secondary mb-3 d-block d-lg-none" type="button" data-toggle="collapse" data-target=".docs-menu">
    Toggle Menu
</button>

<nav class="docs-menu collapse d-lg-block">
        {{- range .Site.Pages }}
        {{- $docVersion := index (split .File.Path "/") 1 }}
        {{- if and (eq $docVersion $currentVersion) (not .Params.hasParent) }}
        {{ $isCurrentPage := eq $url .RelPermalink }}
      
        <div class="nav-link">
          <a href="{{ .Permalink }}"{{ if $isCurrentPage }} class="is-active"{{ end }}>
            {{ if .Params.navtitle }}{{ .Params.navtitle }}{{ else }}{{ .Title }}{{ end }}
          </a>
      
          {{ with .Params.children }}
          {{ range . }}
          {{ $url := printf "/versioned/%s/%s/" $currentVersion .url }}
          {{ $isCurrentPage := eq $url $.RelPermalink }}
          <br />
          <a class="nav-sublink{{ if $isCurrentPage }} is-active{{ end }}" href="{{ $url }}">
            &cir; {{ if .navtitle }}{{ .navtitle }}{{ else }}{{ .title }}{{ end }}
          </a>
          {{ end }}
          {{ end }}
        </div>
          {{ end }}
          {{ end }}
</nav>