name: e2e

on:
  push:
    branches:
      - master
    tags:
  pull_request:

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go.
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.6

      - name: Check out code into the Go module directory.
        uses: actions/checkout@v2

      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Run e2e docker-based tests.
        run: make test-e2e
